@model Tarefas.Web.Models.TarefaViewModel

<form classs="row-g3" asp-action="Create">
    <h3>DETALHES</h3>
    <div class = "col-12"> 
        <div class="form-group">
            <label asp-for="Titulo">@Html.DisplayNameFor(model => model.Titulo)</label>
            <input asp-for="Titulo" class="form-control" disabled/>
        </div>
    </div>

    <div class = "col-12">
        <div class="form-group">
            <label asp-for="Descricao">@Html.DisplayNameFor(model => model.Descricao)</label>
            <input asp-for="Descricao" class="form-control" disabled/>
        </div>
    </div>
    <div class = "col-12"> 
        <div class="form-check form-switch">
            <input type="checkbox" asp-for="Concluida" class="form-check-input"/>
            <label asp-for="Concluida">@Html.DisplayNameFor(model => model.Concluida)</label>
        </div>
    </div>
        
    <a class="btn btn-primary" asp asp-controller="Tarefa" asp-action="Index">Voltar</a>
</form>